In [1]:
# IMportaciónde librerías
import pandas as pd
from pandas_profiling import ProfileReport
import json

# Dataframe Terridata

In [2]:
# Carga de datos 
terridata = pd.read_csv('TerriData_Dim4.csv', decimal=",")

In [3]:
terridata

,Código Departamento,Departamento,Código Entidad,Entidad,Dimensión,Subcategoría,Indicador,Dato Numérico,Dato Cualitativo,Año,Mes,Fuente,Unidad de Medida
0,1,Colombia,1001,Colombia,Educación,Acceso a la educación,Cobertura bruta en transición,95.42,NaN,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
1,5,Antioquia,5000,Antioquia,Educación,Acceso a la educación,Cobertura bruta en transición,78.62,NaN,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
2,5,Antioquia,5001,Medellín,Educación,Acceso a la educación,Cobertura bruta en transición,103.23,NaN,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
3,5,Antioquia,5002,Abejorral,Educación,Acceso a la educación,Cobertura bruta en transición,51.80,NaN,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
4,5,Antioquia,5004,Abriaquí,Educación,Acceso a la educación,Cobertura bruta en transición,96.00,NaN,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
291751,50,Meta,50000,Meta,Educación,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,94.66,NaN,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291752,47,Magdalena,47000,Magdalena,Educación,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,95.85,NaN,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291753,41,Huila,41000,Huila,Educación,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,95.30,NaN,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291754,44,La Guajira,44000,La Guajira,Educación,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,94.33,NaN,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291755,27,Chocó,27000,Chocó,Educación,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,83.84,NaN,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)

In [4]:
#import sys
#!{sys.executable} -m pip install -U pandas-profiling[notebook]

In [5]:
#pip install visions[v0.7.1]

In [6]:
#profiling = ProfileReport(terridata)
#profiling

In [7]:
#Eliminamos dato cualitativos
del terridata['Dato Cualitativo']

In [8]:
terridata

,Código Departamento,Departamento,Código Entidad,Entidad,Dimensión,Subcategoría,Indicador,Dato Numérico,Año,Mes,Fuente,Unidad de Medida
0,1,Colombia,1001,Colombia,Educación,Acceso a la educación,Cobertura bruta en transición,95.42,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
1,5,Antioquia,5000,Antioquia,Educación,Acceso a la educación,Cobertura bruta en transición,78.62,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
2,5,Antioquia,5001,Medellín,Educación,Acceso a la educación,Cobertura bruta en transición,103.23,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
3,5,Antioquia,5002,Abejorral,Educación,Acceso a la educación,Cobertura bruta en transición,51.80,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
4,5,Antioquia,5004,Abriaquí,Educación,Acceso a la educación,Cobertura bruta en transición,96.00,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
...,...,...,...,...,...,...,...,...,...,...,...,...
291751,50,Meta,50000,Meta,Educación,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,94.66,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291752,47,Magdalena,47000,Magdalena,Educación,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,95.85,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291753,41,Huila,41000,Huila,Educación,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,95.30,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291754,44,La Guajira,44000,La Guajira,Educación,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,94.33,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291755,27,Chocó,27000,Chocó,Educación,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,83.84,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)

In [9]:
del terridata['Dimensión']

In [10]:
terridata

,Código Departamento,Departamento,Código Entidad,Entidad,Subcategoría,Indicador,Dato Numérico,Año,Mes,Fuente,Unidad de Medida
0,1,Colombia,1001,Colombia,Acceso a la educación,Cobertura bruta en transición,95.42,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
1,5,Antioquia,5000,Antioquia,Acceso a la educación,Cobertura bruta en transición,78.62,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
2,5,Antioquia,5001,Medellín,Acceso a la educación,Cobertura bruta en transición,103.23,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
3,5,Antioquia,5002,Abejorral,Acceso a la educación,Cobertura bruta en transición,51.80,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
4,5,Antioquia,5004,Abriaquí,Acceso a la educación,Cobertura bruta en transición,96.00,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
...,...,...,...,...,...,...,...,...,...,...,...
291751,50,Meta,50000,Meta,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,94.66,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291752,47,Magdalena,47000,Magdalena,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,95.85,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291753,41,Huila,41000,Huila,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,95.30,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291754,44,La Guajira,44000,La Guajira,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,94.33,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291755,27,Chocó,27000,Chocó,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,83.84,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)

In [11]:
#Se eliminan los nulos
terridata = terridata.dropna(axis = "index", how = "any");

In [12]:
terridata.notna()

,Código Departamento,Departamento,Código Entidad,Entidad,Subcategoría,Indicador,Dato Numérico,Año,Mes,Fuente,Unidad de Medida
0,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...
291751,True,True,True,True,True,True,True,True,True,True,True
291752,True,True,True,True,True,True,True,True,True,True,True
291753,True,True,True,True,True,True,True,True,True,True,True
291754,True,True,True,True,True,True,True,True,True,True,True
291755,True,True,True,True,True,True,True,True,True,True,True

In [13]:
#Se eliminan los registros duplicados
terridata = terridata.drop_duplicates();

In [14]:
#Se cambia el nombre de dato numérico por un nombre que sea más fácil de utilizar en Observable 

terridata.rename(columns = {'Dato Numérico':'Valor'}, inplace = True)
terridata.rename(columns = {'Código Departamento':'id'}, inplace = True)

In [15]:
terridata

,id,Departamento,Código Entidad,Entidad,Subcategoría,Indicador,Valor,Año,Mes,Fuente,Unidad de Medida
0,1,Colombia,1001,Colombia,Acceso a la educación,Cobertura bruta en transición,95.42,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
1,5,Antioquia,5000,Antioquia,Acceso a la educación,Cobertura bruta en transición,78.62,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
2,5,Antioquia,5001,Medellín,Acceso a la educación,Cobertura bruta en transición,103.23,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
3,5,Antioquia,5002,Abejorral,Acceso a la educación,Cobertura bruta en transición,51.80,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
4,5,Antioquia,5004,Abriaquí,Acceso a la educación,Cobertura bruta en transición,96.00,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
...,...,...,...,...,...,...,...,...,...,...,...
291751,50,Meta,50000,Meta,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,94.66,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291752,47,Magdalena,47000,Magdalena,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,95.85,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291753,41,Huila,41000,Huila,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,95.30,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291754,44,La Guajira,44000,La Guajira,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,94.33,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291755,27,Chocó,27000,Chocó,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,83.84,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)

In [16]:
#Agrupamos por departamento, subcategoría y año

In [17]:
terridataDeptos4= terridata.copy()

In [18]:
filtroporDeptos4= terridataDeptos4.groupby(['Departamento', 'Subcategoría', 'Año','Indicador', 'Valor']).mean()

In [19]:
filtroporDeptos4

                                                                                                     id  \
Departamento Subcategoría          Año  Indicador                                          Valor
Amazonas     Acceso a la educación 2005 Cobertura bruta en educación - Total               83.01   91.0
                                                                                           83.11   91.0
                                                                                           98.14   91.0
                                        Cobertura bruta en educación básica                88.96   91.0
                                                                                           101.11  91.0
...                                                                                                 ...
Vichada      Permanencia y rezago  2020 Tasa de repitencia del sector oficial en educac... 8.71    99.0
                                                                                           9.55    99.0
                                                                                           11.28   99.0
                                                                                           14.44   99.0
                                                                                           18.48   99.0

                                                                                                   Código Entidad  \
Departamento Subcategoría          Año  Indicador                                          Valor
Amazonas     Acceso a la educación 2005 Cobertura bruta en educación - Total               83.01          91540.0
                                                                                           83.11          91000.0
                                                                                           98.14          91001.0
                                        Cobertura bruta en educación básica                88.96          91540.0
                                                                                           101.11         91000.0
...                                                                                                           ...
Vichada      Permanencia y rezago  2020 Tasa de repitencia del sector oficial en educac... 8.71           99524.0
                                                                                           9.55           99001.0
                                                                                           11.28          99624.0
                                                                                           14.44          99000.0
                                                                                           18.48          99773.0

                                                                                                    Mes
Departamento Subcategoría          Año  Indicador                                          Valor
Amazonas     Acceso a la educación 2005 Cobertura bruta en educación - Total               83.01   12.0
                                                                                           83.11   12.0
                                                                                           98.14   12.0
                                        Cobertura bruta en educación básica                88.96   12.0
                                                                                           101.11  12.0
...                                                                                                 ...
Vichada      Permanencia y rezago  2020 Tasa de repitencia del sector oficial en educac... 8.71    11.0
                                                                                           9.55    11.0
                                                                                           11.28   11.0
                                                                                           14.44   11.0
                                                                                           18.48   11.0

[264639 rows x 3 columns]

In [20]:
datosDeptos3= terridata.copy()

In [21]:
datosDeptos3

,id,Departamento,Código Entidad,Entidad,Subcategoría,Indicador,Valor,Año,Mes,Fuente,Unidad de Medida
0,1,Colombia,1001,Colombia,Acceso a la educación,Cobertura bruta en transición,95.42,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
1,5,Antioquia,5000,Antioquia,Acceso a la educación,Cobertura bruta en transición,78.62,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
2,5,Antioquia,5001,Medellín,Acceso a la educación,Cobertura bruta en transición,103.23,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
3,5,Antioquia,5002,Abejorral,Acceso a la educación,Cobertura bruta en transición,51.80,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
4,5,Antioquia,5004,Abriaquí,Acceso a la educación,Cobertura bruta en transición,96.00,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
...,...,...,...,...,...,...,...,...,...,...,...
291751,50,Meta,50000,Meta,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,94.66,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291752,47,Magdalena,47000,Magdalena,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,95.85,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291753,41,Huila,41000,Huila,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,95.30,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291754,44,La Guajira,44000,La Guajira,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,94.33,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291755,27,Chocó,27000,Chocó,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,83.84,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)

In [22]:
# SAcamos el promedio de el dato nummérico para poder graficar 
tarea3 =  pd.DataFrame(datosDeptos3[['Departamento','Entidad', 'Subcategoría', 'Año','Indicador', 'Valor', 'Unidad de Medida' ]].groupby(['Departamento', 'Año','Subcategoría','Indicador', 'Valor']).mean())

C:\Users\mgabr\AppData\Local\Temp\ipykernel_20420\2493333755.py:2: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  tarea3 =  pd.DataFrame(datosDeptos3[['Departamento','Entidad', 'Subcategoría', 'Año','Indicador', 'Valor', 'Unidad de Medida' ]].groupby(['Departamento', 'Año','Subcategoría','Indicador', 'Valor']).mean())

In [23]:
tarea3

Empty DataFrame
Columns: []
Index: [(Amazonas, 2003, Permanencia y rezago , Tasa de deserción intra-anual del sector oficial en educación básica y media (Desde transición hasta once), 9.43), (Amazonas, 2003, Permanencia y rezago , Tasa de repitencia del sector oficial en educación básica y media (Desde transición hasta once), 6.43), (Amazonas, 2004, Permanencia y rezago , Tasa de deserción intra-anual del sector oficial en educación básica y media (Desde transición hasta once), 7.16), (Amazonas, 2004, Permanencia y rezago , Tasa de repitencia del sector oficial en educación básica y media (Desde transición hasta once), 8.47), (Amazonas, 2005, Acceso a la educación, Cobertura bruta en educación - Total, 83.01), (Amazonas, 2005, Acceso a la educación, Cobertura bruta en educación - Total, 83.11), (Amazonas, 2005, Acceso a la educación, Cobertura bruta en educación - Total, 98.14), (Amazonas, 2005, Acceso a la educación, Cobertura bruta en educación básica, 88.96), (Amazonas, 2005, Acceso a la educación, Cobertura bruta en educación básica, 101.11), (Amazonas, 2005, Acceso a la educación, Cobertura bruta en educación básica, 102.89), (Amazonas, 2005, Acceso a la educación, Cobertura bruta en educación media, 45.45), (Amazonas, 2005, Acceso a la educación, Cobertura bruta en educación media, 52.85), (Amazonas, 2005, Acceso a la educación, Cobertura bruta en educación media, 74.95), (Amazonas, 2005, Acceso a la educación, Cobertura bruta en educación primaria, 100.2), (Amazonas, 2005, Acceso a la educación, Cobertura bruta en educación primaria, 104.45), (Amazonas, 2005, Acceso a la educación, Cobertura bruta en educación primaria, 108.59), (Amazonas, 2005, Acceso a la educación, Cobertura bruta en educación secundaria, 63.08), (Amazonas, 2005, Acceso a la educación, Cobertura bruta en educación secundaria, 69.6), (Amazonas, 2005, Acceso a la educación, Cobertura bruta en educación secundaria, 93.61), (Amazonas, 2005, Acceso a la educación, Cobertura bruta en transición, 96.76), (Amazonas, 2005, Acceso a la educación, Cobertura bruta en transición, 105.56), (Amazonas, 2005, Acceso a la educación, Cobertura bruta en transición, 112.29), (Amazonas, 2005, Acceso a la educación, Cobertura en educación superior, 4.33), (Amazonas, 2005, Acceso a la educación, Cobertura neta en educación - Total, 69.82), (Amazonas, 2005, Acceso a la educación, Cobertura neta en educación - Total, 70.12), (Amazonas, 2005, Acceso a la educación, Cobertura neta en educación - Total, 80.89), (Amazonas, 2005, Acceso a la educación, Cobertura neta en educación básica, 72.67), (Amazonas, 2005, Acceso a la educación, Cobertura neta en educación básica, 72.88), (Amazonas, 2005, Acceso a la educación, Cobertura neta en educación básica, 83.34), (Amazonas, 2005, Acceso a la educación, Cobertura neta en educación media, 9.09), (Amazonas, 2005, Acceso a la educación, Cobertura neta en educación media, 16.22), (Amazonas, 2005, Acceso a la educación, Cobertura neta en educación media, 25.05), (Amazonas, 2005, Acceso a la educación, Cobertura neta en educación primaria, 68.87), (Amazonas, 2005, Acceso a la educación, Cobertura neta en educación primaria, 71.69), (Amazonas, 2005, Acceso a la educación, Cobertura neta en educación primaria, 79.12), (Amazonas, 2005, Acceso a la educación, Cobertura neta en educación secundaria, 30.93), (Amazonas, 2005, Acceso a la educación, Cobertura neta en educación secundaria, 38.46), (Amazonas, 2005, Acceso a la educación, Cobertura neta en educación secundaria, 53.91), (Amazonas, 2005, Acceso a la educación, Cobertura neta en transición, 42.91), (Amazonas, 2005, Acceso a la educación, Cobertura neta en transición, 53.62), (Amazonas, 2005, Acceso a la educación, Cobertura neta en transición, 67.93), (Amazonas, 2005, Permanencia y rezago , Tasa de deserción intra-anual del sector oficial en educación básica y media (Desde transición hasta once), 7.93), (Amazonas, 2005, Permanencia y rezago , Tasa de repitencia del sector oficial en educación básica y media (Desde transición hasta once), 9.93), (Amazonas, 2006, Acceso a la educación, Cobertura bruta en educación - Total, 82.66), (Amazonas, 2006, Acceso a la educación, Cobertura bruta en educación - Total, 84.27), (Amazonas, 2006, Acceso a la educación, Cobertura bruta en educación - Total, 102.94), (Amazonas, 2006, Acceso a la educación, Cobertura bruta en educación básica, 87.95), (Amazonas, 2006, Acceso a la educación, Cobertura bruta en educación básica, 102.75), (Amazonas, 2006, Acceso a la educación, Cobertura bruta en educación básica, 107.99), (Amazonas, 2006, Acceso a la educación, Cobertura bruta en educación media, 49.41), (Amazonas, 2006, Acceso a la educación, Cobertura bruta en educación media, 54.18), (Amazonas, 2006, Acceso a la educación, Cobertura bruta en educación media, 78.36), (Amazonas, 2006, Acceso a la educación, Cobertura bruta en educación primaria, 104.18), (Amazonas, 2006, Acceso a la educación, Cobertura bruta en educación primaria, 105.0), (Amazonas, 2006, Acceso a la educación, Cobertura bruta en educación primaria, 116.65), (Amazonas, 2006, Acceso a la educación, Cobertura bruta en educación secundaria, 60.42), (Amazonas, 2006, Acceso a la educación, Cobertura bruta en educación secundaria, 69.82), (Amazonas, 2006, Acceso a la educación, Cobertura bruta en educación secundaria, 96.1), (Amazonas, 2006, Acceso a la educación, Cobertura bruta en transición, 95.12), (Amazonas, 2006, Acceso a la educación, Cobertura bruta en transición, 95.72), (Amazonas, 2006, Acceso a la educación, Cobertura bruta en transición, 111.37), (Amazonas, 2006, Acceso a la educación, Cobertura en educación superior, 6.04), (Amazonas, 2006, Acceso a la educación, Cobertura neta en educación - Total, 71.61), (Amazonas, 2006, Acceso a la educación, Cobertura neta en educación - Total, 71.7), (Amazonas, 2006, Acceso a la educación, Cobertura neta en educación - Total, 86.47), (Amazonas, 2006, Acceso a la educación, Cobertura neta en educación básica, 73.6), (Amazonas, 2006, Acceso a la educación, Cobertura neta en educación básica, 73.77), (Amazonas, 2006, Acceso a la educación, Cobertura neta en educación básica, 88.35), (Amazonas, 2006, Acceso a la educación, Cobertura neta en educación media, 11.24), (Amazonas, 2006, Acceso a la educación, Cobertura neta en educación media, 18.35), (Amazonas, 2006, Acceso a la educación, Cobertura neta en educación media, 28.53), (Amazonas, 2006, Acceso a la educación, Cobertura neta en educación primaria, 69.4), (Amazonas, 2006, Acceso a la educación, Cobertura neta en educación primaria, 71.38), (Amazonas, 2006, Acceso a la educación, Cobertura neta en educación primaria, 84.42), (Amazonas, 2006, Acceso a la educación, Cobertura neta en educación secundaria, 30.34), (Amazonas, 2006, Acceso a la educación, Cobertura neta en educación secundaria, 38.52), (Amazonas, 2006, Acceso a la educación, Cobertura neta en educación secundaria, 55.42), (Amazonas, 2006, Acceso a la educación, Cobertura neta en transición, 41.87), (Amazonas, 2006, Acceso a la educación, Cobertura neta en transición, 46.64), (Amazonas, 2006, Acceso a la educación, Cobertura neta en transición, 62.58), (Amazonas, 2006, Permanencia y rezago , Tasa de deserción intra-anual del sector oficial en educación básica y media (Desde transición hasta once), 8.6), (Amazonas, 2006, Permanencia y rezago , Tasa de repitencia del sector oficial en educación básica y media (Desde transición hasta once), 13.85), (Amazonas, 2007, Acceso a la educación, Cobertura bruta en educación - Total, 85.99), (Amazonas, 2007, Acceso a la educación, Cobertura bruta en educación - Total, 87.59), (Amazonas, 2007, Acceso a la educación, Cobertura bruta en educación - Total, 107.42), (Amazonas, 2007, Acceso a la educación, Cobertura bruta en educación básica, 93.26), (Amazonas, 2007, Acceso a la educación, Cobertura bruta en educación básica, 105.52), (Amazonas, 2007, Acceso a la educación, Cobertura bruta en educación básica, 111.49), (Amazonas, 2007, Acceso a la educación, Cobertura bruta en educación media, 52.31), (Amazonas, 2007, Acceso a la educación, Cobertura bruta en educación media, 57.94), (Amazonas, 2007, Acceso a la educación, Cobertura bruta en educación media, 87.02), (Amazonas, 2007, Acceso a la educación, Cobertura bruta en educación primaria, 107.87), (Amazonas, 2007, Acceso a la educación, Cobertura bruta en educación primaria, 118.48), (Amazonas, 2007, Acceso a la educación, Cobertura bruta en educación primaria, 123.8), (Amazonas, 2007, Acceso a la educación, Cobertura bruta en educación secundaria, 60.7), (Amazonas, 2007, Acceso a la educación, Cobertura bruta en educación secundaria, 68.83), (Amazonas, 2007, Acceso a la educación, Cobertura bruta en educación secundaria, 94.23), (Amazonas, 2007, Acceso a la educación, Cobertura bruta en transición, 80.0), (Amazonas, 2007, Acceso a la educación, Cobertura bruta en transición, 93.89), (Amazonas, 2007, Acceso a la educación, Cobertura bruta en transición, 117.93), ...]

[264639 rows x 0 columns]

In [24]:
# Se filtra el dataset para tener solamente el dato del cubrimiento


tarea3 = tarea3[tarea3['Indicador'].str.contains('Cobertura neta')]
tarea3 = tarea3[tarea3['Indicador'].str.contains(' - Mujeres| - Hombres')==False]

tarea3

KeyError: 'Indicador'

In [ ]:
## Tarea 1

In [25]:
terridata

,id,Departamento,Código Entidad,Entidad,Subcategoría,Indicador,Valor,Año,Mes,Fuente,Unidad de Medida
0,1,Colombia,1001,Colombia,Acceso a la educación,Cobertura bruta en transición,95.42,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
1,5,Antioquia,5000,Antioquia,Acceso a la educación,Cobertura bruta en transición,78.62,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
2,5,Antioquia,5001,Medellín,Acceso a la educación,Cobertura bruta en transición,103.23,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
3,5,Antioquia,5002,Abejorral,Acceso a la educación,Cobertura bruta en transición,51.80,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
4,5,Antioquia,5004,Abriaquí,Acceso a la educación,Cobertura bruta en transición,96.00,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
...,...,...,...,...,...,...,...,...,...,...,...
291751,50,Meta,50000,Meta,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,94.66,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291752,47,Magdalena,47000,Magdalena,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,95.85,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291753,41,Huila,41000,Huila,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,95.30,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291754,44,La Guajira,44000,La Guajira,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,94.33,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291755,27,Chocó,27000,Chocó,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,83.84,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)

In [26]:
# Se filtran los datos para tener únicamente el inidicador de la tasa de repitencia

dftarea1 = terridata.copy()

dftarea1 = dftarea1[dftarea1.Indicador.str.contains('Tasa de repitencia')]

In [27]:
tarea1 =  dftarea1.groupby(['Departamento','Entidad', 'Año','Indicador'])['Valor'].mean()

In [28]:
tarea1

Departamento  Entidad   Año   Indicador
Amazonas      Amazonas  2003  Tasa de repitencia del sector oficial en educación básica y media (Desde transición hasta once)     6.43
                        2004  Tasa de repitencia del sector oficial en educación básica y media (Desde transición hasta once)     8.47
                        2005  Tasa de repitencia del sector oficial en educación básica y media (Desde transición hasta once)     9.93
                        2006  Tasa de repitencia del sector oficial en educación básica y media (Desde transición hasta once)    13.85
                        2007  Tasa de repitencia del sector oficial en educación básica y media (Desde transición hasta once)    11.15
                                                                                                                                 ...
Vichada       Vichada   2016  Tasa de repitencia del sector oficial en educación básica y media (Desde transición hasta once)     3.26
                        2017  Tasa de repitencia del sector oficial en educación básica y media (Desde transición hasta once)    11.73
                        2018  Tasa de repitencia del sector oficial en educación básica y media (Desde transición hasta once)     5.62
                        2019  Tasa de repitencia del sector oficial en educación básica y media (Desde transición hasta once)     7.82
                        2020  Tasa de repitencia del sector oficial en educación básica y media (Desde transición hasta once)    14.44
Name: Valor, Length: 11564, dtype: float64

In [29]:
tarea1.drop_duplicates()

Departamento  Entidad   Año   Indicador
Amazonas      Amazonas  2003  Tasa de repitencia del sector oficial en educación básica y media (Desde transición hasta once)     6.43
                        2004  Tasa de repitencia del sector oficial en educación básica y media (Desde transición hasta once)     8.47
                        2005  Tasa de repitencia del sector oficial en educación básica y media (Desde transición hasta once)     9.93
                        2006  Tasa de repitencia del sector oficial en educación básica y media (Desde transición hasta once)    13.85
                        2007  Tasa de repitencia del sector oficial en educación básica y media (Desde transición hasta once)    11.15
                                                                                                                                 ...
Vichada       Vichada   2005  Tasa de repitencia del sector oficial en educación básica y media (Desde transición hasta once)    12.26
                        2007  Tasa de repitencia del sector oficial en educación básica y media (Desde transición hasta once)    13.17
                        2008  Tasa de repitencia del sector oficial en educación básica y media (Desde transición hasta once)    15.20
                        2017  Tasa de repitencia del sector oficial en educación básica y media (Desde transición hasta once)    11.73
                        2020  Tasa de repitencia del sector oficial en educación básica y media (Desde transición hasta once)    14.44
Name: Valor, Length: 1066, dtype: float64

In [30]:
## Tarea 2

In [31]:
## Se filtran los datos de la tarea 2 para tener en cuenta únicamente los items relacionados con el cubrimiento

dftarea2 = terridata.copy()

dftarea2 = dftarea2[dftarea2.Indicador.str.contains('Cobertura neta')]


dftarea2

,id,Departamento,Código Entidad,Entidad,Subcategoría,Indicador,Valor,Año,Mes,Fuente,Unidad de Medida
107730,99,Vichada,99000,Vichada,Acceso a la educación,Cobertura neta en transición,34.99,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
107731,99,Vichada,99001,Puerto Carreño,Acceso a la educación,Cobertura neta en transición,44.79,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
107732,99,Vichada,99773,Cumaribo,Acceso a la educación,Cobertura neta en transición,35.26,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
107733,99,Vichada,99524,La Primavera,Acceso a la educación,Cobertura neta en transición,23.30,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
107734,99,Vichada,99624,Santa Rosalía,Acceso a la educación,Cobertura neta en transición,33.96,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
...,...,...,...,...,...,...,...,...,...,...,...
291751,50,Meta,50000,Meta,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,94.66,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291752,47,Magdalena,47000,Magdalena,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,95.85,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291753,41,Huila,41000,Huila,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,95.30,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291754,44,La Guajira,44000,La Guajira,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,94.33,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291755,27,Chocó,27000,Chocó,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,83.84,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)

In [32]:
# Como se quiere analizar a toda la población, se eliminan los datos que contengan información sobre la cobertura neta en hombres o mujeres}

dftarea2 = dftarea2[dftarea2['Indicador'].str.contains(' - Mujeres| - Hombres')==False]

dftarea2.dtypes

id                    int64
Departamento         object
Código Entidad        int64
Entidad              object
Subcategoría         object
Indicador            object
Valor               float64
Año                   int64
Mes                   int64
Fuente               object
Unidad de Medida     object
dtype: object

In [33]:
dftarea2['Dato Numérico'].astype(float)

KeyError: 'Dato Numérico'

In [34]:
dftarea2

,id,Departamento,Código Entidad,Entidad,Subcategoría,Indicador,Valor,Año,Mes,Fuente,Unidad de Medida
107730,99,Vichada,99000,Vichada,Acceso a la educación,Cobertura neta en transición,34.99,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
107731,99,Vichada,99001,Puerto Carreño,Acceso a la educación,Cobertura neta en transición,44.79,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
107732,99,Vichada,99773,Cumaribo,Acceso a la educación,Cobertura neta en transición,35.26,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
107733,99,Vichada,99524,La Primavera,Acceso a la educación,Cobertura neta en transición,23.30,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
107734,99,Vichada,99624,Santa Rosalía,Acceso a la educación,Cobertura neta en transición,33.96,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
...,...,...,...,...,...,...,...,...,...,...,...
216589,95,Guaviare,95025,El Retorno,Acceso a la educación,Cobertura neta en educación - Total,72.74,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
216590,95,Guaviare,95015,Calamar,Acceso a la educación,Cobertura neta en educación - Total,69.81,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
216591,97,Vaupés,97666,Taraira,Acceso a la educación,Cobertura neta en educación - Total,15.30,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
216592,97,Vaupés,97161,Carurú,Acceso a la educación,Cobertura neta en educación - Total,21.07,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
216593,97,Vaupés,97001,Mitú,Acceso a la educación,Cobertura neta en educación - Total,61.29,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)

In [35]:
dftarea2 = dftarea2[dftarea2.Indicador.str.contains('Cobertura neta en educación - Total')]

In [36]:
dftarea2

,id,Departamento,Código Entidad,Entidad,Subcategoría,Indicador,Valor,Año,Mes,Fuente,Unidad de Medida
198450,97,Vaupés,97001,Mitú,Acceso a la educación,Cobertura neta en educación - Total,56.38,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
198451,97,Vaupés,97161,Carurú,Acceso a la educación,Cobertura neta en educación - Total,81.69,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
198452,97,Vaupés,97666,Taraira,Acceso a la educación,Cobertura neta en educación - Total,91.45,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
198453,95,Guaviare,95015,Calamar,Acceso a la educación,Cobertura neta en educación - Total,37.47,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
198454,95,Guaviare,95025,El Retorno,Acceso a la educación,Cobertura neta en educación - Total,57.82,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
...,...,...,...,...,...,...,...,...,...,...,...
216589,95,Guaviare,95025,El Retorno,Acceso a la educación,Cobertura neta en educación - Total,72.74,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
216590,95,Guaviare,95015,Calamar,Acceso a la educación,Cobertura neta en educación - Total,69.81,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
216591,97,Vaupés,97666,Taraira,Acceso a la educación,Cobertura neta en educación - Total,15.30,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
216592,97,Vaupés,97161,Carurú,Acceso a la educación,Cobertura neta en educación - Total,21.07,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
216593,97,Vaupés,97001,Mitú,Acceso a la educación,Cobertura neta en educación - Total,61.29,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)

In [66]:
dftarea2['id'] = dftarea2['id'].apply(lambda x: x.zfill(2))

C:\Users\mgabr\AppData\Local\Temp\ipykernel_20420\1373571742.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dftarea2['id'] = dftarea2['id'].apply(lambda x: x.zfill(2))

In [67]:
tarea2 =  dftarea2.groupby(['id','Año','Departamento', 'Indicador'])['Valor'].mean()

In [68]:
tarea2

id  Año   Departamento  Indicador
01  2005  Colombia      Cobertura neta en educación - Total    88.110
    2006  Colombia      Cobertura neta en educación - Total    89.420
    2007  Colombia      Cobertura neta en educación - Total    89.380
    2008  Colombia      Cobertura neta en educación - Total    89.200
    2009  Colombia      Cobertura neta en educación - Total    89.360
                                                                ...
99  2016  Vichada       Cobertura neta en educación - Total    76.942
    2017  Vichada       Cobertura neta en educación - Total    76.434
    2018  Vichada       Cobertura neta en educación - Total    76.968
    2019  Vichada       Cobertura neta en educación - Total    73.688
    2020  Vichada       Cobertura neta en educación - Total    83.188
Name: Valor, Length: 544, dtype: float64

In [69]:
dftarea2

,id,Departamento,Código Entidad,Entidad,Subcategoría,Indicador,Valor,Año,Mes,Fuente,Unidad de Medida
198450,97,Vaupés,97001,Mitú,Acceso a la educación,Cobertura neta en educación - Total,56.38,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
198451,97,Vaupés,97161,Carurú,Acceso a la educación,Cobertura neta en educación - Total,81.69,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
198452,97,Vaupés,97666,Taraira,Acceso a la educación,Cobertura neta en educación - Total,91.45,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
198453,95,Guaviare,95015,Calamar,Acceso a la educación,Cobertura neta en educación - Total,37.47,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
198454,95,Guaviare,95025,El Retorno,Acceso a la educación,Cobertura neta en educación - Total,57.82,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
...,...,...,...,...,...,...,...,...,...,...,...
216589,95,Guaviare,95025,El Retorno,Acceso a la educación,Cobertura neta en educación - Total,72.74,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
216590,95,Guaviare,95015,Calamar,Acceso a la educación,Cobertura neta en educación - Total,69.81,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
216591,97,Vaupés,97666,Taraira,Acceso a la educación,Cobertura neta en educación - Total,15.30,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
216592,97,Vaupés,97161,Carurú,Acceso a la educación,Cobertura neta en educación - Total,21.07,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
216593,97,Vaupés,97001,Mitú,Acceso a la educación,Cobertura neta en educación - Total,61.29,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)

In [70]:
tarea2simplificado= dftarea2.groupby(['Año', 'id'])['Valor'].mean()

In [72]:
tarea2simplificado

Año   id
2005  01    88.110000
      05    82.313730
      08    87.023750
      11    88.370000
      13    85.904783
              ...
2020  91    77.756667
      94    73.245000
      95    72.246000
      97    37.782500
      99    83.188000
Name: Valor, Length: 544, dtype: float64

In [ ]:
tarea2

In [ ]:
# Tarea 3

In [ ]:
# Se filtra y se saca la media del cubrimiento promedio por departamento para la tarea 3 

dftarea3 = terridata.copy()

dftarea3 = dftarea3[dftarea3.Indicador.str.contains('Cobertura neta')]
dftarea3 = dftarea3[dftarea3['Indicador'].str.contains(' - Mujeres| - Hombres')==False]
dftarea3

In [ ]:
# SAcamos el promedio de el dato nummérico para poder graficar 
tarea3 =  pd.DataFrame(dftarea3[['Departamento','Entidad', 'Subcategoría', 'Año','Indicador', 'Valor', 'Unidad de Medida' ]].groupby(['Departamento', 'Subcategoría', 'Año', 'Indicador', 'Valor']).mean())

In [ ]:
tarea3 =  dftarea3.groupby(['Departamento','Año'])['Valor'].mean()

In [ ]:
tarea3

In [ ]:
# Se encuentra la cobertura neta promedio por cada año en cada departamento

In [ ]:
#Arreglos de acuerdo con las tareas que queremos

In [ ]:
terridata.to_csv('terridataLimpio.csv')

In [ ]:
terridata.to_excel('terridataLimpioExcel.xlsx')

In [ ]:
tarea1.to_csv('tarea1.csv')

In [ ]:
tarea3.to_csv('tarea3.csv')

In [74]:
tarea2.to_csv('tarea2conids.csv')

In [73]:
tarea2simplificado.to_csv('tarea2reducido.csv')

# Geojson