In [1]:
# Importaciónde librerías
import pandas as pd
from pandas_profiling import ProfileReport
import json

# Dataframe Terridata

In [2]:
# Carga de datos 
terridata = pd.read_csv('TerriData_Dim4.csv', decimal=",")

In [3]:
terridata

,Código Departamento,Departamento,Código Entidad,Entidad,Dimensión,Subcategoría,Indicador,Dato Numérico,Dato Cualitativo,Año,Mes,Fuente,Unidad de Medida
0,1,Colombia,1001,Colombia,Educación,Acceso a la educación,Cobertura bruta en transición,95.42,NaN,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
1,5,Antioquia,5000,Antioquia,Educación,Acceso a la educación,Cobertura bruta en transición,78.62,NaN,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
2,5,Antioquia,5001,Medellín,Educación,Acceso a la educación,Cobertura bruta en transición,103.23,NaN,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
3,5,Antioquia,5002,Abejorral,Educación,Acceso a la educación,Cobertura bruta en transición,51.80,NaN,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
4,5,Antioquia,5004,Abriaquí,Educación,Acceso a la educación,Cobertura bruta en transición,96.00,NaN,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
291751,50,Meta,50000,Meta,Educación,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,94.66,NaN,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291752,47,Magdalena,47000,Magdalena,Educación,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,95.85,NaN,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291753,41,Huila,41000,Huila,Educación,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,95.30,NaN,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291754,44,La Guajira,44000,La Guajira,Educación,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,94.33,NaN,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291755,27,Chocó,27000,Chocó,Educación,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,83.84,NaN,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)

In [4]:
#import sys
#!{sys.executable} -m pip install -U pandas-profiling[notebook]

In [5]:
#pip install visions[v0.7.1]

In [6]:
#profiling = ProfileReport(terridata)
#profiling

 ### Limpieza de Terridata

In [7]:
#Eliminamosla columna dato cualitativo
del terridata['Dato Cualitativo']

In [8]:
terridata

,Código Departamento,Departamento,Código Entidad,Entidad,Dimensión,Subcategoría,Indicador,Dato Numérico,Año,Mes,Fuente,Unidad de Medida
0,1,Colombia,1001,Colombia,Educación,Acceso a la educación,Cobertura bruta en transición,95.42,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
1,5,Antioquia,5000,Antioquia,Educación,Acceso a la educación,Cobertura bruta en transición,78.62,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
2,5,Antioquia,5001,Medellín,Educación,Acceso a la educación,Cobertura bruta en transición,103.23,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
3,5,Antioquia,5002,Abejorral,Educación,Acceso a la educación,Cobertura bruta en transición,51.80,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
4,5,Antioquia,5004,Abriaquí,Educación,Acceso a la educación,Cobertura bruta en transición,96.00,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
...,...,...,...,...,...,...,...,...,...,...,...,...
291751,50,Meta,50000,Meta,Educación,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,94.66,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291752,47,Magdalena,47000,Magdalena,Educación,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,95.85,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291753,41,Huila,41000,Huila,Educación,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,95.30,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291754,44,La Guajira,44000,La Guajira,Educación,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,94.33,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291755,27,Chocó,27000,Chocó,Educación,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,83.84,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)

In [9]:
del terridata['Dimensión']

In [10]:
terridata

,Código Departamento,Departamento,Código Entidad,Entidad,Subcategoría,Indicador,Dato Numérico,Año,Mes,Fuente,Unidad de Medida
0,1,Colombia,1001,Colombia,Acceso a la educación,Cobertura bruta en transición,95.42,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
1,5,Antioquia,5000,Antioquia,Acceso a la educación,Cobertura bruta en transición,78.62,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
2,5,Antioquia,5001,Medellín,Acceso a la educación,Cobertura bruta en transición,103.23,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
3,5,Antioquia,5002,Abejorral,Acceso a la educación,Cobertura bruta en transición,51.80,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
4,5,Antioquia,5004,Abriaquí,Acceso a la educación,Cobertura bruta en transición,96.00,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
...,...,...,...,...,...,...,...,...,...,...,...
291751,50,Meta,50000,Meta,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,94.66,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291752,47,Magdalena,47000,Magdalena,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,95.85,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291753,41,Huila,41000,Huila,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,95.30,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291754,44,La Guajira,44000,La Guajira,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,94.33,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291755,27,Chocó,27000,Chocó,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,83.84,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)

In [11]:
#Se eliminan los nulos
terridata = terridata.dropna(axis = "index", how = "any");

In [12]:
terridata.notna()

,Código Departamento,Departamento,Código Entidad,Entidad,Subcategoría,Indicador,Dato Numérico,Año,Mes,Fuente,Unidad de Medida
0,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...
291751,True,True,True,True,True,True,True,True,True,True,True
291752,True,True,True,True,True,True,True,True,True,True,True
291753,True,True,True,True,True,True,True,True,True,True,True
291754,True,True,True,True,True,True,True,True,True,True,True
291755,True,True,True,True,True,True,True,True,True,True,True

In [13]:
#Se eliminan los registros duplicados
terridata = terridata.drop_duplicates();

In [14]:
#Se cambia el nombre de dato numérico por un nombre que sea más fácil de utilizar en Observable(en este caso Valor)
#Lo mismo se hace con Código Departamento, este se cambia por id

terridata.rename(columns = {'Dato Numérico':'Valor'}, inplace = True)
terridata.rename(columns = {'Código Departamento':'id'}, inplace = True)

In [15]:
terridata

,id,Departamento,Código Entidad,Entidad,Subcategoría,Indicador,Valor,Año,Mes,Fuente,Unidad de Medida
0,1,Colombia,1001,Colombia,Acceso a la educación,Cobertura bruta en transición,95.42,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
1,5,Antioquia,5000,Antioquia,Acceso a la educación,Cobertura bruta en transición,78.62,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
2,5,Antioquia,5001,Medellín,Acceso a la educación,Cobertura bruta en transición,103.23,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
3,5,Antioquia,5002,Abejorral,Acceso a la educación,Cobertura bruta en transición,51.80,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
4,5,Antioquia,5004,Abriaquí,Acceso a la educación,Cobertura bruta en transición,96.00,2005,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
...,...,...,...,...,...,...,...,...,...,...,...
291751,50,Meta,50000,Meta,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,94.66,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291752,47,Magdalena,47000,Magdalena,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,95.85,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291753,41,Huila,41000,Huila,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,95.30,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291754,44,La Guajira,44000,La Guajira,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,94.33,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291755,27,Chocó,27000,Chocó,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,83.84,2020,12,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)

## Tarea 1

In [ ]:
terridata

In [ ]:
# Se filtran los datos para tener únicamente el inidicador de la tasa de repitencia

dftarea1 = terridata.copy()

dftarea1 = dftarea1[dftarea1.Indicador.str.contains('Tasa de repitencia')]

In [ ]:
tarea1 =  dftarea1.groupby(['Departamento','Entidad', 'Año','Indicador'])['Valor'].mean()

In [ ]:
tarea1

In [ ]:
tarea1.drop_duplicates()

## Tarea 2

In [ ]:
## Se filtran los datos de la tarea 2 para tener en cuenta únicamente los items relacionados con el cubrimiento

dftarea2 = terridata.copy()

dftarea2 = dftarea2[dftarea2.Indicador.str.contains('Cobertura neta')]


dftarea2

In [ ]:
# Como se quiere analizar a toda la población, se eliminan los datos que contengan información sobre la cobertura neta en hombres o mujeres}

dftarea2 = dftarea2[dftarea2['Indicador'].str.contains(' - Mujeres| - Hombres')==False]

dftarea2.dtypes

In [ ]:
dftarea2

In [ ]:
# Se filtran los datos para obtener únicamente la cobertura neta en educación total para el departamento 

dftarea2 = dftarea2[dftarea2.Indicador.str.contains('Cobertura neta en educación - Total')]

In [ ]:
dftarea2

In [ ]:
#El id en el geojson de los códigos de un digito es "01", "02" etc. y en el csv no tiene el cero a la izquierda, por lo que se estandariza este id 
#colocándole un cero a la izquierda a los códigos de un dígito.

dftarea2['id'] = dftarea2['id'].apply(lambda x: x.zfill(2))

In [ ]:
#Se agrupan los datos por id, año, departamento e indicador y se calcula el promedio del cubrimiento de educación total en cada departamento(sacando el promedio de los municipios del departamento). 
tarea2 =  dftarea2.groupby(['id','Año','Departamento', 'Indicador'])['Valor'].mean()

In [ ]:
tarea2

In [ ]:
dftarea2

In [ ]:
#Para facilitar la implementación de la visualizaicón, se calcula el cubrimiento promedio, únicamente agrupando por año y por id.
tarea2simplificado= dftarea2.groupby(['Año', 'id'])['Valor'].mean()

In [ ]:
tarea2simplificado

In [ ]:
tarea2

# Tarea 3

In [ ]:
# Se filtra y se saca la media del cubrimiento promedio por departamento para la tarea 3 

dftarea3 = terridata.copy()

dftarea3 = dftarea3[dftarea3.Indicador.str.contains('Cobertura neta')]
dftarea3 = dftarea3[dftarea3['Indicador'].str.contains(' - Mujeres| - Hombres')==False]
dftarea3

In [ ]:
# Sacamos el promedio de el dato nummérico para poder graficar 
tarea3 =  pd.DataFrame(dftarea3[['Departamento','Entidad', 'Subcategoría', 'Año','Indicador', 'Valor', 'Unidad de Medida' ]].groupby(['Departamento', 'Subcategoría', 'Año', 'Indicador', 'Valor']).mean())

In [ ]:
# Agrupamos los datos por departamento y año y calculamos el cubrimiento promedio
tarea3 =  dftarea3.groupby(['Departamento','Año'])['Valor'].mean()

In [ ]:
tarea3

## Se exportan los datos preparados en archivos csv

In [ ]:
terridata.to_csv('terridataLimpio.csv')

In [ ]:
terridata.to_excel('terridataLimpioExcel.xlsx')

In [ ]:
tarea1.to_csv('tarea1.csv')

In [ ]:
tarea3.to_csv('tarea3.csv')

In [ ]:
tarea2.to_csv('tarea2conids.csv')

In [ ]:
tarea2simplificado.to_csv('tarea2reducido.csv')